 /* google font */

body{
    font-family: 'Poppins', sans-serif;
}
.top-section{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.top-headding{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}
.board-title{
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 152px;
    margin-top: 196px;
    padding-right: 80px;
}
.picture img{
    Width: 525.01px;
    height: 410px;
    margin-top: 156px;
    padding-left: 80px;
}
.top-title a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 158px;
    background-color: crimson;
    padding: 5px 10px;
}
/* players style */
.container{
    display: flex;
    justify-content: center;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player-photo{
    width: 330px;
    height: 510px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px 0 wheat;
    margin: 27px;
}
.player-photo img{
    width: 300px;
    height: 256px;
    padding: 15px;
}
.player-name{
    text-align: justify;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* highlight
------------ */
.highlight-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 48px;
}
.highlight{
    padding-top: 80px;
    padding-left: 170px;
} 
.highlight h2{
    width: 300px;
}  
.highlight p{
    width: 400px;
}

.banner img{
    width: 567px;
    height: 427px;
    padding-top: 42px;
    padding-right: 142px;
}
.highlight a{
    text-decoration: none;
    color: #ffffff;
    background-color: darkorange;
    padding: 5px 10px;
}
/* footer tag */
footer{
    text-align: center;
}
.footer-img img{
    width: 483px;
    height: 110px;
}
.media-link{
    color: #969BAB;
}
.footer-copyright{
    color: #000000;
}

